* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.one-container {
  background-color: #1f2937;
  height: 450px;
}
.three {
  padding: 20px;
  height:420px;
}
.button2{
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    padding: 0 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.four p{
margin-left: 326px;
margin-top: 20px;
}
span{
    font-size: 22px;
    font-weight: 500;
    margin-left: 850px;
}
.five{
    height: 350px;
    padding: 120px;
    margin-left:90px;
}
.five-p{
    color: rgba(255, 255, 255, 0.789);
}
.six p{
    color: rgba(255, 255, 255, 0.748);
}
.six{
    background-color: #1F2937;
    text-align: center;
    padding: 25px 0;
}
.five-span{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.five-div{
    background-color: #3882F6;
    padding: 50px;
    display: flex;
    width: 1100;
    border-radius: 7px;
    justify-content: space-evenly;
}
.four{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    height: 320px;
    padding: 50px;
}
.three-p {
  text-align: center;
  margin: 30px 0 40px 0;
  font-size:36px;
  color:#1F2937;
  font-weight: 900;
}
.card-one {
  margin-left: 350px;
}
.card-four {
  margin-right: 363px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.card {
  border: 2px solid #3882f6;
  border-radius: 8px;
  width: 145px;
  height: 145px;
}
.three-cards {
  display: flex;
  justify-content: space-evenly;
}
.three-p2 {
  text-align: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
li {
  list-style-type: none;
}
.one h3 {
  color: #f9faf8;
  font-size: 24px;
}
.one {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 60px;
}
.button-one {
  background-color: #3882f6;
  padding: 5px 27px;
  border: 0;
  border-radius: 5px;
  color: white;
  width: 98.14px;
}
.two {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
.two-one {
  width: 350px;
  position: relative;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.two-p2 {
  color: #e5e7eb;
  font-size: 18px;
}
.two-p1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
